In [1]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('../data/weather_data_filtered.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,location,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,758,758,КРАГУЈЕВАЦ,2018-01-28,-1.2,-4.6,0.8,NaN,NaN,18.0,1.6,NaN,1036.7,NaN
1,759,759,КРАГУЈЕВАЦ,2018-01-29,4.1,-3.6,14.7,NaN,NaN,304.0,3.3,NaN,1031.2,NaN
2,760,760,КРАГУЈЕВАЦ,2018-01-30,6.5,1.3,13.9,NaN,NaN,219.0,7.0,NaN,1027.2,NaN
3,762,762,КРАГУЈЕВАЦ,2018-02-01,6.5,-2.0,16.1,NaN,NaN,178.0,6.5,NaN,1014.8,NaN
4,763,763,КРАГУЈЕВАЦ,2018-02-02,10.9,2.6,17.8,NaN,NaN,162.0,15.1,NaN,1009.2,NaN

In [44]:
df = df.drop(['pres', 'tsun', 'snow', 'wpgt'], axis = 1)
df

,Unnamed: 0.1,Unnamed: 0,location,date,tavg,tmin,tmax,prcp,wdir,wspd
0,758,758,КРАГУЈЕВАЦ,2018-01-28,-1.2,-4.6,0.8,NaN,18.0,1.6
1,759,759,КРАГУЈЕВАЦ,2018-01-29,4.1,-3.6,14.7,NaN,304.0,3.3
2,760,760,КРАГУЈЕВАЦ,2018-01-30,6.5,1.3,13.9,NaN,219.0,7.0
3,762,762,КРАГУЈЕВАЦ,2018-02-01,6.5,-2.0,16.1,NaN,178.0,6.5
4,763,763,КРАГУЈЕВАЦ,2018-02-02,10.9,2.6,17.8,NaN,162.0,15.1
...,...,...,...,...,...,...,...,...,...,...
16123,17894,17894,ВРШАЦ,2022-12-27,9.9,4.0,13.0,3.6,309.0,8.7
16124,17895,17895,ВРШАЦ,2022-12-28,2.4,-3.0,8.4,0.0,59.0,4.5
16125,17896,17896,ВРШАЦ,2022-12-29,9.7,5.7,12.2,0.0,154.0,23.6
16126,17897,17897,ВРШАЦ,2022-12-30,11.9,10.6,14.0,0.0,163.0,19.3
16127,17898,17898,ВРШАЦ,2022-12-31,12.7,11.0,15.0,0.0,169.0,19.6

In [45]:
df['prcp'] = df['prcp'].interpolate()

In [46]:
df['prcp'].count()

14572

In [47]:
df['wdir'].count()

12067

In [48]:
df['wdir'] = df['wdir'].interpolate()
df['wdir'].count()

16128

In [49]:
df['wspd'].count()

14007

In [50]:
df['wspd'] = df['wspd'].interpolate()
df['wspd'].count()

16128

In [52]:
df['tmax'].count()

16111

In [53]:
df['tmax'] = df['tmax'].interpolate()
df['tmax'].count()

16128

In [54]:
df['tmin'].count()

16106

In [56]:
df['tmin'] = df['tmin'].interpolate()
df['tmin'].count()

16128

In [57]:
df['tavg'].count()

16128

In [58]:
df['tavg'] = df['tavg'].interpolate()
df['tavg'].count()

16128

In [61]:
df

,Unnamed: 0.1,Unnamed: 0,location,date,tavg,tmin,tmax,prcp,wdir,wspd
0,758,758,КРАГУЈЕВАЦ,2018-01-28,-1.2,-4.6,0.8,NaN,18.0,1.6
1,759,759,КРАГУЈЕВАЦ,2018-01-29,4.1,-3.6,14.7,NaN,304.0,3.3
2,760,760,КРАГУЈЕВАЦ,2018-01-30,6.5,1.3,13.9,NaN,219.0,7.0
3,762,762,КРАГУЈЕВАЦ,2018-02-01,6.5,-2.0,16.1,NaN,178.0,6.5
4,763,763,КРАГУЈЕВАЦ,2018-02-02,10.9,2.6,17.8,NaN,162.0,15.1
...,...,...,...,...,...,...,...,...,...,...
16123,17894,17894,ВРШАЦ,2022-12-27,9.9,4.0,13.0,3.6,309.0,8.7
16124,17895,17895,ВРШАЦ,2022-12-28,2.4,-3.0,8.4,0.0,59.0,4.5
16125,17896,17896,ВРШАЦ,2022-12-29,9.7,5.7,12.2,0.0,154.0,23.6
16126,17897,17897,ВРШАЦ,2022-12-30,11.9,10.6,14.0,0.0,163.0,19.3
16127,17898,17898,ВРШАЦ,2022-12-31,12.7,11.0,15.0,0.0,169.0,19.6

In [62]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,tavg,tmin,tmax,prcp,wdir,wspd
count,16128.000000,16128.000000,16128.000000,16128.000000,16128.000000,14572.000000,16128.000000,16128.000000
mean,9595.010417,9595.010417,13.088814,7.977158,18.610314,1.282267,186.352679,9.221838
std,4850.915089,4850.915089,8.561593,7.711998,9.948005,3.961421,102.263093,6.225795
min,758.000000,758.000000,-14.900000,-20.400000,-10.000000,0.000000,0.000000,1.100000
25%,5598.750000,5598.750000,6.200000,1.900000,10.900000,0.000000,110.000000,5.200000
50%,9630.500000,9630.500000,13.300000,8.000000,19.200000,0.000000,169.000000,7.300000
75%,13761.250000,13761.250000,20.300000,14.400000,27.000000,0.300000,285.000000,11.100000
max,17898.000000,17898.000000,32.300000,29.000000,46.700000,80.000000,360.000000,64.400000

In [67]:
from numpy import mean
df['prcp'].fillna(df.describe()['prcp']['mean'], inplace = True)

In [69]:
cols = ['tavg', 'tmin', 'tmax', 'prcp', 'wdir', 'wspd']

In [70]:
for col in cols:
    df[col].fillna(df.describe()[col]['mean'], inplace = True)

In [71]:
df

,Unnamed: 0.1,Unnamed: 0,location,date,tavg,tmin,tmax,prcp,wdir,wspd
0,758,758,КРАГУЈЕВАЦ,2018-01-28,-1.2,-4.6,0.8,1.282267,18.0,1.6
1,759,759,КРАГУЈЕВАЦ,2018-01-29,4.1,-3.6,14.7,1.282267,304.0,3.3
2,760,760,КРАГУЈЕВАЦ,2018-01-30,6.5,1.3,13.9,1.282267,219.0,7.0
3,762,762,КРАГУЈЕВАЦ,2018-02-01,6.5,-2.0,16.1,1.282267,178.0,6.5
4,763,763,КРАГУЈЕВАЦ,2018-02-02,10.9,2.6,17.8,1.282267,162.0,15.1
...,...,...,...,...,...,...,...,...,...,...
16123,17894,17894,ВРШАЦ,2022-12-27,9.9,4.0,13.0,3.600000,309.0,8.7
16124,17895,17895,ВРШАЦ,2022-12-28,2.4,-3.0,8.4,0.000000,59.0,4.5
16125,17896,17896,ВРШАЦ,2022-12-29,9.7,5.7,12.2,0.000000,154.0,23.6
16126,17897,17897,ВРШАЦ,2022-12-30,11.9,10.6,14.0,0.000000,163.0,19.3
16127,17898,17898,ВРШАЦ,2022-12-31,12.7,11.0,15.0,0.000000,169.0,19.6

In [73]:
df.dropna()
df.to_csv('../data/weather_data_no_nan.csv')